body.showcookie {
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
}

.wb-co-cookiesgdpr {
    position: absolute;
    top: 0;
}

.cookiesgdpr__base {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color: rgba(18,18,18,0.6);
    z-index: 1200;
}


.wb-co-cookiesgdpr__dialog {
    background: #fff;
    border: 1px solid #626262;
    margin: 0 auto;
    padding: 30px 30px;
}

.wb-co-cookiesgdpr__title__container {
}

.wb-co-cookiesgdpr__logo__container {
    text-align: right;
}



.wb-co-cookiesgdpr__logo {
    height: 45px;
}



.tipocookies_status {
    font-weight: bold;
    font-size: 14px;
    text-align: right;
}

.wb-co-cookiesgdpr__cookieslist {
    overflow-x: auto;
}

    .wb-co-cookiesgdpr__cookieslist table {
        width: 100%;
        border-collapse: collapse;
        min-width: 600px;
    }

        .wb-co-cookiesgdpr__cookieslist table th {
            background-color: #FFB300;
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: left;
        }

    .wb-co-cookiesgdpr__cookieslist th, .wb-co-cookiesgdpr__cookieslist td {
        padding: 10px;
        border: 1px solid #eaeaea;
        /*font-size: 14px;*/
        vertical-align: top;
    }

    .wb-co-cookiesgdpr__cookieslist p {
        /*font-size: 14px;*/
    }



.wb-co-cookiesgdpr__tipo {
    padding-top: 15px;
    padding-bottom: 25px;
    margin-bottom: 35px;
    border-bottom: 1px solid #323232;
}

.cookiesgdpr__closebtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFB300;
    color: #fff;
    position: absolute;
    right: -25px;
    top: -25px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

    .cookiesgdpr__closebtn:focus {
        border: none;
        outline: none;
    }

.check_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* Hide the browser's default checkbox */
    .check_container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check_container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check_container input:checked ~ .checkmark {
    background-color: #FFB300;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 6px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


@media (min-width: 600px) {
    .cookiesgdpr__base {
        padding: 140px 0;
    }

    .wb-co-cookiesgdpr__dialog {
        background: #fff;
        border: 1px solid #626262;
        margin: 0 auto;
        padding: 64px 72px;
    }
}

@media (max-width: 600px) {
    .wb-co-cookiesgdpr__dialog {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        width: 95%;
        height: 97%;
        top: 1.5%;
        overflow: scroll;
    }

    .wb-co-cookiesgdpr__title__container {
        order: 2;
        margin-top: 10px;
    }

    .wb-co-cookiesgdpr__logo {
        height: 35px;
    }

    .wb-co-cookiesgdpr__description p {
        font-size: 16px;
    }

    .wb-co-cookiesgdpr__title {
        text-align: center;
        font-size: 22px !important;
    }

    .wb-co-cookiesgdpr__description {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .wb-co-cookiesgdpr__logo__container {
        text-align: center;
    }

    .tipocookies_status {
        display: none;
    }

    .cookiesgdpr__closebtn {
        background-color: transparent;
        color: #323232;
        right: 2px;
        top: 2px;
    }
}


/*<!-- ESTILOS ARQUIA -->*/
.cookiesgdpr__btns {
    text-align: center;
    margin-top: 4rem;
}

.wb-co-cookiesgdpr__btnwrapper {
    margin-bottom: 1rem;
}

.cookiesgdpr__btns .btn--brand {
    cursor: pointer;
    margin:20px 20px 20px 20px;
}

.wb-co-cookiesgdpr__description {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/*.wb-co-cookiesgdpr__configbtn {
    background-color: transparent;
}
*/